#--------------------------------------------------------------------------
#
# Arquivo de Exemplo para Variáveis de Ambiente
# Copie este arquivo para .env e preencha com seus valores locais.
# O arquivo .env NUNCA deve ser enviado para o Git.
#
#                                                        by: Jonathan Bufon
#--------------------------------------------------------------------------

# --- Configurações da Aplicação e do Servidor ---
#
# Define o ambiente da aplicação (development, production, test)
# Em 'development', podemos mostrar erros detalhados. Em 'production', não.
APP_ENV=development

# A URL base da sua API. Útil para gerar links, etc.
APP_URL=http://localhost

# A origem (URL) do seu frontend que tem permissão para acessar esta API.
# Essencial para o CorsMiddleware funcionar.
CORS_ALLOWED_ORIGINS=http://localhost:3000

# --- Banco de Dados (MariaDB / MySQL) ---
#
# O nome do host do banco de dados. Em Docker, geralmente é o nome do serviço.
MYSQL_HOST=db

# porta do serviço de banco de dados.
MYSQL_PORT=3306

# O nome do banco de dados a ser utilizado.
MYSQL_DATABASE=gatepass

# O nome de usuário para se conectar ao banco de dados.
MYSQL_USER=gatepass_user

# A senha para o usuário do banco de dados.
MYSQL_PASSWORD=secret

# --- Autenticação (JWT - JSON Web Token) ---
#
# A chave secreta usada para assinar e validar os tokens.
# IMPORTANTE: Deve ser uma string longa, aleatória e complexa.
# Gere uma usando um gerador de senhas.
JWT_SECRET_KEY=YourSuperSecretAndRandomKeyGoesHere

# O tempo de vida do token em horas.
JWT_EXPIRATION_HOURS=2